{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}USIC-Розклад{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-square70x70logo" content="/static/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/static/icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/static/icons/mstile-310x150.png">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/autocomplete.css" %}" />
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autocomplete-min.js" %}"></script>
    <script src="{% static "js/timetable.js" %}"></script>
  </head>

  <body>

  {% include "header.html" %}
  {% block body %}

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->

    <form class="form-inline" style="display:none" id="clonable-lesson">
        <input class="form-control room" style="width:100px" placeholder="Аудиторія">
        <input class="form-control discipline" style="width:320px" placeholder="Предмет" required>
        <input class="form-control group" style="width:80px" placeholder="Група" pattern="[0-9.]+" type="text">
        <input class="form-control lecturer" style="width:200px" placeholder="Викладач">
        <input class="form-control weeks" style="width:160px" placeholder="Тижні" onkeypress="return validateWeeksInputKey(event);">
        <button type="button" class="btn btn-danger" onclick="deleteLesson(this);" tabindex="-1">Видалити</button>
    </form>
    <table class="table table-bordered">
        {% for day_number, day_name in day_names %}
            {% for lesson_number, lesson_time in lesson_times %}
                <tr>
                    {% if forloop.first %}
                        <td class="day-name" rowspan="{{ number_of_lessons }}">{{ day_name }}</td>
                    {% endif %}
                    <td class="lesson-time">
                        {{ lesson_time }}
                    </td>
                    <td>
                        <div><button type="button" class="add-lesson btn btn-success" onclick="addLesson(this);">Додати пару</button></div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
  {% endblock %}
  </body>
</html>
