<div id="check-items-2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="check-items-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Перевірка даних</h2>
            </div>
            <div class="modal-body">
                {% for discipline, groups_lecturers, counts in discipline_group_list %}
                    <h4>{{ discipline }}</h4>
                    <table class="table table-condensed table-striped">
                        <tr>
                            <td>Група</td>
                            {% for group, lecturer in groups_lecturers %}
                                <td>
                                    <a class="lecturer-tooltip" data-toggle="tooltip" title="{{ lecturer }}">
                                        {% if group %}
                                            {{ group }}
                                        {% else %}
                                            Лекції
                                        {% endif %}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Кількість пар</td>
                            {% for count in counts %}
                                <td>{{ count }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button id="cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                <button id="submit-timetable-button" type="button" class="btn btn-primary" onclick="submitTimetable(this)">Зберегти</button>

            </div>
        </div>
    </div>
</div>
