{% extends "jumbo.html" %}
{% block body %}
<h2>Інструкція із користування сервісом</h2>
<h4>Вхід (login)</h4>
<p>
Сервіс використовує уніфікований USIC-login.
Попередньо необхідно зареєструватись у USIC.
</p>

<h4>Запис до груп</h4>
<p>
Спочатку потрібно обрати факультет на <a href="/">головній сторінці</a>,
перейти на сторінку спеціальності та обрати групи для запису.
Одночасно можна записуватись у декілька груп, при цьому всі відповідні пари будуть в особистому розкладі.
Якщо курс має складну структуру підгруп, то необхідно записуватись у найбільш специфічну,
наприклад запис до групи "2б" додаватиме пари груп "2б", "2" та лекційні заняття.
</p>

<h4>Вихід із груп</h4>
<p>
Для уточнення власного списку груп можна скористатись <a href="/accounts/profile/">сторінкою профілю</a>. Звідти можливо перейти на відповідний розклад із списком груп, де обрати ту групу, з якої потрібно вийти.
</p>

<h4>Перегляд особистого розкладу</h4>
<p>
<a href="/my/">Персональний розклад</a> сформований на базі інформації із активних версій розкладів відповідних спеціальностей.
Активною є остання затверджена версія розкладу.
Іноді персональний розклад може оновлювати зміни із деякою затримкою (до хвилини).
</p>

<h4>Редагування розкладу спеціальності</h4>
<p>
На сторінці розкладу спеціальності вибрати зі списку версію розкладу,
яка буде взята за основу та натиснути кнопку "Редагувати".
Альтернативно можна одразу натиснути кнопку "Редагувати активну версію" (рекомендований варіант).
<br>
Для додавання запису про пару необхідно натиснути на зелений плюс у комірці,
що відповідає потрібному дню і часу.
У полях вводу треба заповнити аудиторію, назву дисципліни, групу (для лекцій лишити порожнім), викладача та тижні занять. Назва та тижні є обов’язковими.
Для аудиторій та викладачів працює автодоповнення.
<br>
Натискання на червоний мінус видаляє один рядок, що розташований ліворуч від кнопки.
Ця операція не може бути скасована.
<br>
Внизу сторінки рекомендовано заповнити текст ремарки, що описує зміни в розкладі, що були виконані, та причину редагування (наприклад, аудиторія змінена через накладку, пара перенесена через хворобу викладача).
<br>
Усі зміни не є збереженими на сервері до моменту натискання на кнопку "Зберегти версію розкладу".
Оновлення сторінки (&lt;F5&gt;) під час редагування втрачає поточні зміни та повертає версію до стану останньої збереженої на сервері.
Якщо спроба збереження не перенаправляє на нову сторінку, а натомість показує певний рядок розкладу, підсвічений червоним, це означає, що є помилка у даних. Особливо ретельно потрібно перевірити введені тижні.
</p>


<h4></h4>
<p>
</p>


<h4></h4>
<p>
</p>


<h4></h4>
<p>
</p>

<h4></h4>
<p>
</p>
<h4></h4>
<p>
</p>
<h2>Часті запитання</h2>
{% endblock %}
