<script>

function submitTimetable(sender) {
    var serialized = serializeItems();
    $.post("/submit/{{ version.pk }}/", {
        items: serialized,
        remark: $("#remark").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }).done(function(data) {
        var response = $.parseJSON(data);
        window.location.href = response['redirect_url'];
    });
}

$(document).ready(function() {
    var items = {{ items|safe }};
    $.each(items, function(i, item) {
        var divId = "#items-" + item.day_number + "-" + item.lesson_number;
        var formClone = $("#clonable-item").clone().show().addClass("item").attr("id", "");
        formClone.find(".room").val(item.room);
        formClone.find(".discipline").val(item.discipline);
        formClone.find(".group").val(item.group);
        formClone.find(".lecturer").val(item.lecturer);
        formClone.find(".weeks").val(item.weeks);
        attachAutocomplete(formClone);
        $(divId).append(formClone);
    });
});

function addLesson(sender) {
    var formClone = $("#clonable-item").clone().show().addClass("item").attr("id", "");
    attachAutocomplete(formClone);
    $(sender).parent().parent().find(".items").append(formClone);
}

function deleteLesson(sender) {
    $(sender).parent().remove();
}

</script>
