<script>
function serializeItems() {
    var result = [];
    errorsFound = false;
    $.each($(".item"), function(i, formItem) {
        var item = {};
        var itemElement = $(formItem);    
        var divId = itemElement.parent().attr("id");
        var idParts = divId.split("-");
        item["day_number"] = parseInt(idParts[1]);
        item["lesson_number"] = parseInt(idParts[2]);
        itemElement.removeClass("has-error");
    if (itemElement.find(".weeks").val() == "" || itemElement.find(".discipline").val() == "") {
            itemElement.addClass("has-error");
            errorsFound = true;
        }
        $.each(["room", "discipline", "group", "lecturer", "weeks"], function(j, field) {
            item[field] = itemElement.find("." + field).val() || null;
        });
        result.push(item);
    });
    if (errorsFound) {
        throw "Validation error";
    }
    return JSON.stringify(result);
}

function checkTimetable1(sender) {
    var serialized = serializeItems();
    $.post("/check-1/{{ version.pk }}/", {
        items: serialized,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }).done(function(data) {
        $("body").append(data);
        $("#check-items-1").modal({keyboard:true});
        $("#check-items-1").on("hidden.bs.modal", function () {
            $("#check-items-1").remove();
        });
    });
}

function checkTimetable2(sender) {
    var serialized = serializeItems();
    $.post("/check-2/{{ version.pk }}/", {
        items: serialized,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }).done(function(data) {
        $("#check-items-1").modal("hide");
        $("body").append(data);
        $("#check-items-2").modal({keyboard:true});
        $(".lecturer-tooltip").tooltip({});
        $("#check-items-2").on("hidden.bs.modal", function () {
            $("#check-items-2").remove();
        });
    });
}

function submitTimetable(sender) {
    var serialized = serializeItems();
    $("#cancel-button").attr("disabled", "disabled");
    $("#submit-timetable-button").attr("disabled", "disabled");
    $.post("/submit/{{ version.pk }}/", {
        items: serialized,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }).done(function(data) {
        $("#check-items-2").modal("hide");
        var response = $.parseJSON(data);
        window.location.href = response['redirect_url'];
    });
}

function attachAutocomplete(node) {
    node.find(".room").autocomplete({
        serviceUrl:"/autocomplete/rooms/",
        minChars:1, 
    });        
    /*node.find(".discipline").autocomplete({
        serviceUrl:"/autocomplete/disciplines/",
        minChars:1, 
    });*/
    node.find(".lecturer").autocomplete({
        serviceUrl:"/autocomplete/lecturers/",
        minChars:1, 
    });        
}

$(document).ready(function() {
    var items = {{ items|safe}};
    $.each(items, function(i, item) {
        var divId = "#items-" + item.day_number + "-" + item.lesson_number;
        var formClone = $("#clonable-item").clone().show().addClass("item").attr("id", "");
        formClone.find(".room").val(item.room);
        formClone.find(".discipline").val(item.discipline);
        formClone.find(".group").val(item.group);
        formClone.find(".lecturer").val(item.lecturer);
        formClone.find(".weeks").val(item.weeks);
        attachAutocomplete(formClone);
        $(divId).append(formClone);
    });
});

function validateWeeksInputKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if ((charCode >= 48) && (charCode <= 57)) {
        // is a digit
        return true;
    }
    if (charCode == 44) {
        // is a comma
        return true;
    }
    if (charCode == 45) {
        // is a dash
        return true;
    }
    return false;
}

function addLesson(sender) {
    var formClone = $("#clonable-item").clone().show().addClass("item").attr("id", "");
    attachAutocomplete(formClone);
    $(sender).parent().parent().find(".items").append(formClone);
}

function deleteLesson(sender) {
    $(sender).parent().remove();
}

</script>
