<script>
function serializeItems() {
    var result = [];
    errorsFound = false;
    $.each($(".item"), function(i, formItem) {
        var item = {};
        var itemElement = $(formItem);    
        var divId = itemElement.parent().attr("id");
        var idParts = divId.split("-");
        item["day_number"] = parseInt(idParts[1]);
        item["lesson_number"] = parseInt(idParts[2]);
        itemElement.removeClass("has-error");
        if (itemElement.find(".weeks").val() == "") {
            itemElement.addClass("has-error");
            errorsFound = true;
        }
        $.each(["room", "discipline", "group", "lecturer", "weeks"], function(j, field) {
            item[field] = itemElement.find("." + field).val() || null;
        });
        result.push(item);
    });
    console.log(JSON.stringify(result));
}

$(document).ready(function() {
    var items = {{ items|safe}};
    $.each(items, function(i, item) {
        var divId = "#items-" + item.day_number + "-" + item.lesson_number;
        var formClone = $("#clonable-item").clone().show().addClass("item").attr("id", "");
        formClone.find(".room").val(item.room);
        formClone.find(".discipline").val(item.discipline);
        formClone.find(".group").val(item.group);
        formClone.find(".lecturer").val(item.lecturer);
        formClone.find(".weeks").val(item.weeks);
        $(divId).append(formClone);
    });
    serializeItems();
});
</script>
