{% extends "jumbo.html" %}
{% block body %}
<ul class="pagination">
    <li class="disabled"><a>Тижні</a></li>
    {% for week in weeks %}
    {% if week == active_week %}
    <li class="active"><a class="week-pagination">{{ week }}</a></li>
    {% else %}
    <li><a class="week-pagination" href="/my/{{ week }}/">{{ week }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<table class="table table-striped table-bordered">
    {% for date, rows in table %}
    <tr>
        <td class="time-col"></td>
        <td><h4>{{ date|date:"l" }} <small>{{ date }}</small></h4></td>
    </tr>
    {% for row in rows %}
    <tr>
        {% for cell in row %}
        {% if forloop.first %}<td class="time-col">{{ cell }}</td>
        {% else %}
        <td>
            {% for lesson in cell %}
            <div class="lesson">
            <span class="label label-primary">{{ lesson.room }}</span>&nbsp;
            {{ lesson.discipline }}&nbsp;
            <span class="label" style="background-color:{{ lesson.color }}">{% if lesson.group %}Група {{ lesson.group }}{% else %}Лекція{% endif %}</span>&nbsp;
            {% if lesson.lecturer %}
            <i class="pull-right">{{ lesson.lecturer }}</i>
            {% endif %}
            </div>
            {% endfor %}
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% endblock %}
