{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <form class="form-inline" style="display:none" id="clonable-item">
        <input class="form-control room" style="width:110px" placeholder="Аудиторія">
        <select class="form-control discipline" style="width:320px">
            {% for discipline in disciplines %}
                <option>{{ discipline }}</option>
            {% endfor %}
        </select>
        <input class="form-control group" style="width:80px" placeholder="Група" type="text">
        <input class="form-control lecturer" style="width:200px" placeholder="Викладач">
        <input class="form-control weeks" style="width:160px" placeholder="Тижні" onkeypress="return validateWeeksInputKey(event);">
        <button type="button" class="btn btn-danger" onclick="deleteLesson(this);" tabindex="-1">Видалити</button>
    </form>
    <table class="table table-bordered">
        {% for day_number, day_name in day_names %}
            {% for lesson_number, lesson_time in lesson_times %}
                <tr>
                    {% if forloop.first %}
                        <td class="day-name" rowspan="{{ number_of_lessons }}">{{ day_name }}</td>
                    {% endif %}
                    <td class="lesson-time">
                        {{ lesson_time }}
                    </td>
                    <td>
                        <div class="items" id="items-{{ day_number }}-{{ lesson_number }}">
                        </div>
                        <div><button type="button" class="add-lesson btn btn-success" onclick="addLesson(this);">Додати пару</button></div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <div id="check-timetable-container">
        <button type="button" class="btn btn-primary" onclick="checkTimetable1(this)" id="check-timetable" data-loading-text="Обробка...">Перевірити та зберегти розклад</button>
    </div>
    {% include "load_json_timetable.html" %}
{% endblock %}
