{% extends "jumbo.html" %}
{% block body %}
    <h2>{{ timetable }} – {{ timetable.academic_term.season }} {{ timetable.academic_term.kind }} {{ timetable.academic_term.year }}-{{ timetable.academic_term.year|add:"1" }}</h2>
    {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <form method="POST" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="csv-file">CSV-файл</label>
            <input type="file" id="csv-file" name="csv_file">
        </div>
        <input type="submit" class="btn btn-primary" value="Завантажити">
    </form>
{% endblock %}
