{% extends "jumbo.html" %}
{% block title %}{{ timetable }} – {{ timetable.academic_term.season }} {{ timetable.academic_term.kind }} - {% endblock %}
{% block head %}
<meta name="description" content="{% for discipline, groups in discipline_group_list %}{{ discipline }}. {% empty %}Порожній розклад{% endfor %}">
{% endblock %}
{% block body %}
<h2>{{ timetable }} – {{ timetable.academic_term.season }} {{ timetable.academic_term.kind }} {{ timetable.academic_term.year }}-{{ timetable.academic_term.year|add:"1" }}</h2>
    {% for discipline, groups in discipline_group_list %}
        <div class="row" style="padding-bottom:8px">
            <div class="col-xs-6">
                {{ discipline }}
            </div>
            <div class="btn-group col-xs-6" data-toggle="buttons">
                {% for group, enrolled in groups %}
                <label class="btn btn-default{% if enrolled %} active{% endif %}" data-timetable-id="{{ timetable.pk }}" data-discipline="{{ discipline }}" data-group="{{ group }}" onclick="enrollment(this);">
                        <input type="checkbox" class="group-input" data-toggle="button">{{ group }}
                    </label>
                {% endfor %}
            </div>
        </div>
    {% empty %}
    <div>
        Схоже, що розклад порожній.
        Спочатку його треба наповнити, завантаживши csv-файл чи відредагувавши вручну.
        <hr>
    </div>
    {% endfor %}
    <a href="/upload/{{ timetable.pk }}/" class="btn btn-default">
        <i class="fa fa-cloud-upload"></i> Завантажити csv</a>
    <a href="/edit/{{ version.pk }}/" class="btn btn-default">
        <i class="fa fa-pencil"></i> Редагувати активну версію</a>
    <a href="/version/csv/{{ version.pk }}/" class="btn btn-default">
        <i class="fa fa-cloud-download"></i> Скачати csv активної версії</a>
    <div><a id="ical-link" style="display:none">Посилання на iCal</a></div>
    <hr>
    <h6>Всі версії розкладу</h6>
    <ul>
        {% for ver in all_versions %}
        <li>
        <a href="/version/{{ ver.pk }}/">{{ ver.create_date }}</a> (<i>{{ ver.author }}</i>),
        {% if ver.approver %}
        <span class="label label-success">затверджено</span>
        {{ ver.approve_date }} (<i>{{ ver.approver }}</i>)
        {% else %}
        <span class="label label-warning">до розгляду</span>
        {% endif %}
        {% if ver == version %}
        <span class="label label-primary">активна</span>
        {% endif %}
        {% if ver.remark %}
        <div>
            <i>{{ ver.remark }}</i>
        </div>
        {% endif %}
        </li>
        {% endfor %}

{% endblock %}
