{% extends "jumbo.html" %}
{% block body %}
    <h2>{{ timetable }} - {{ timetable.academic_term.season }} {{ timetable.academic_term.kind }}</h2>
    {% for discipline, groups in discipline_group_list %}
        <div class="row" style="padding-bottom:8px">
            <div class="col-md-6">
                {{ discipline }}
            </div>
            <div class="btn-group col-md-6" data-toggle="buttons">
                {% for group in groups %}
                    <label class="btn btn-default" data-timetable-id="{{ timetable.pk }}" data-discipline="{{ discipline }}" data-group="{{ group }}" onclick="enrollment(this);">
                        <input type="checkbox" class="group-input" data-toggle="button">{{ group }}
                    </label>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary" onclick="goRenderTimetable('{{ csrf_token }}')">Переглянути розклад</button>
    <button class="btn btn-primary" onclick="goIcalTimetable('{{ csrf_token }}')">Експортувати в iCal</button>
    <a href="/upload/{{ version.pk }}/" class="btn btn-default">Завантажити csv</a>
    <a href="/edit/{{ version.pk }}/" class="btn btn-default">Редагувати активну версію</a>
    <div><a id="ical-link" style="display:none">Посилання на iCal</a></div>
    <hr>
    <h6>Всі версії розкладу</h6>
    <ul>
        {% for ver in all_versions %}
        <li>
        <a href="/version/{{ ver.pk }}/">{{ ver.create_date }}</a> (<i>{{ ver.author }}</i>),
        {% if ver.approver %}
        <span class="label label-success">затверджено</span>
        {{ ver.approve_date }} (<i>{{ ver.approver }}</i>)
        {% else %}
        <span class="label label-warning">до розгляду</span>
        {% endif %}
        {% if ver == version %}
        <span class="label label-primary">активна</span>
        {% endif %}
        {% if ver.remark %}
        <div>
            <i>{{ ver.remark }}</i>
        </div>
        {% endif %}
        </li>
        {% endfor %}

{% endblock %}
