.form-inline {
    padding-bottom: 10px;
}
.day-name {
    width: 40px;
}
.lesson-time {
    width: 100px;
}
#check-timetable-container {
    float: right;
    padding-bottom: 10px;
    padding-right: 50px;
}
